.footer{
    height: 15vw;
}   

.fa-facebook{
    position: relative;
    right: 43vw;
    top: 2vw;
    color:black;
}

.fa-facebook:hover{
    color:grey;
}

.carousel-inner{
    height:40vw;
}

.img-left{
    width:300px;
}

.brand{
    display:none;
}
.address-bar{
    display: none;
}
.navi{
    display: none;
}
.content{
    display: none;
}
.footer{
    display: none;
}